@using Entities
@using Business
@inject NavigationManager navmanager
@inject IJSRuntime JSRuntime

<h3>Lista de Usuarios</h3>
<hr />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Sexo</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in ListaUsuarios)
        {
            <tr>
                <th scope="row">@i.UserId</th>
                <td>@i.UserName</td>
                <td>@i.Birthdate.ToShortDateString()</td>
                <td>@i.Sex</td>
                <td><a href="user/update/@i.UserId">Editar</a> </td>
                <br>
                <td><input type="button" @onclick="@(()=>Remove(i))" value="Eliminar" /> </td>
            </tr>
        }
    </tbody>
</table>

@code {

    User user = new User();

    public List<User> ListaUsuarios = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        ListaUsuarios = B_User.ShowUser();
    }
    
    private void Remove(User user)
    {
        B_User.DeleteUser(user);
        navmanager.NavigateTo("Usuario");
    }
    

}
